.ball {
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    transition-timing-function: ease-in;
    transition-property: all;
}

.ballRising {
    transition-timing-function: ease-out;
}